<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Register</title>
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="mt-5">
        <h1 class="text-center">Register</h1>
      </div>
      <div class="mt-4">
        <form [formGroup]="registerForm" (ngSubmit)="validateAndSubmit()">
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" formControlName="username" required/>
            <div class="error-message" *ngIf="registerForm.controls.username.touched && registerForm.controls.username.invalid">
              Username is required
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" required/>
            <div class="error-message" *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid"></div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" required/>
            <div class="error-message" *ngIf="registerForm.controls.password.touched && registerForm.controls.password.invalid"></div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Register</button>
          </div>
          <div class="loading-spinner text-center" id="loading-spinner"></div>
          <div class="success-message text-center mt-3" id="success-message"></div>
        </form>
      </div>
      <p class="text-center mt-3">
        Already have an account? <a href="/login">Login Here</a>
      </p>
    </div>
  </div>
</div>
<div id="toast"></div>
</body>
</html>
