<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reports</title>
</head>
<body>
<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mainscreen">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sales">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reports</a>
          </li>
        </ul>
        <span class="navbar-text">
            Logged in as: <span>{{ username }}</span> | <span>{{ email }}</span>
        </span>
        <a class="btn btn-secondary ms-3" id="signoutButton" (click)="signOut()">Logout</a>
      </div>
    </div>
  </nav>

  <h1 class="mb-3">Reports</h1>

  <hr>
  <div class="container py-5">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white">
        <h3 class="mb-0">Downloads</h3>
      </div>
      <div class="card-body">
        <table class="table table-hover table-bordered">
          <thead class="table-light">
          <tr>
            <th scope="col">Report</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Low Stock Report</td>
            <td>
              <a class="btn btn-primary btn-sm mb-3" (click)="fetchPartsLowInStockPDF()">PDF</a>
              <a class="btn btn-primary btn-sm mb-3" (click)="fetchPartsLowInStockCSV()">CSV</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>

