<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Product Form</title>
</head>
<body>
<div class="container">
  <h1 class="mt-4">Product Detail</h1>
  <form (ngSubmit)="validateAndSubmit()" #productForm="ngForm">
    <div class="mb-3">
      <label for="inv" class="form-label">SKU</label>
      <input type="text" [(ngModel)]="product.sku" name="sku" class="form-control" id="sku" placeholder="RP1424AJ1NA" required />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" [(ngModel)]="product.name" name="name" class="form-control" id="name" placeholder="Ruud 2 Ton 14 Seer Heat Pump" required />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" [(ngModel)]="product.price" name="price" class="form-control" id="price" placeholder="2110.00" required />
    </div>
    <div class="mb-3">
      <label for="inv" class="form-label">Manufacturer</label>
      <input type="text" [(ngModel)]="product.manufacturer" name="manufacturer" class="form-control" id="manufacturer" placeholder="Rheem" required />
    </div>
    <div class="mb-3">
      <label for="inv" class="form-label">Refrigerant</label>
      <input type="text" [(ngModel)]="product.refrigerant" name="refrigerant" class="form-control" id="refrigerant" placeholder="R-410A" required />
    </div>
    <div class="mb-3">
      <label for="inv" class="form-label">Inventory</label>
      <input type="text" [(ngModel)]="product.inv" name="inv" class="form-control" id="inv" placeholder="15" required />
    </div>
    <div class="mb-3">
      <label for="inv" class="form-label">Minimum Inventory </label>
      <input type="text" [(ngModel)]="product.minInv" name="minInv" class="form-control" id="minInv" placeholder="10" required />
    </div>
    <div class="mb-3">
      <label for="inv" class="form-label">Maximum Inventory</label>
      <input type="text" [(ngModel)]="product.maxInv" name="maxInv" class="form-control" id="maxInv" placeholder="50" required />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!productForm.form.valid">Submit</button>
  </form>
  <a href="/mainscreen" class="mt-3">Link to Main Screen</a>
</div>
</body>
</html>
