<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
</head>
<body>

<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mainscreen">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sales">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reports</a>
          </li>
        </ul>
        <span class="navbar-text">
            Logged in as: <span>{{ username }}</span> | <span>{{ email }}</span>
        </span>
        <a class="btn btn-secondary ms-3" (click)="signOut()">Logout</a>
      </div>
    </div>
  </nav>

  <div th:if="${message}" th:class="|${alertClass} alert-dismissible fade show|" role="alert">
    <span th:text="${message}"></span>
<!--    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
  </div>

  <h1 class="mb-3">Inventory</h1>
  <hr>
  <br/>
  <br>
  <h2>Repair Parts & Maintenance</h2>
  <form id="partForm" (ngSubmit)="fetchMainScreenData()">
    Filter: <input type="text" [(ngModel)]="this.partkeyword" name="partkeyword" id="partkeyword" size="50" required/>
    &nbsp;
    <input type="submit" value="Search"/>
    &nbsp;
    <input type="button" value="Clear" id="btnClearPart" (click)="clearPartSearch()"/>
  </form>
  <br><br>
  <a [routerLink]="['/inhouse-part-form']" class="btn btn-primary btn-sm mb-3">Add Inhouse Part</a>
  <a [routerLink]="['/outsourced-part-form']" class="btn btn-primary btn-sm mb-3">Add Outsourced Part</a>
  <div class="scrollable-table">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Inventory</th>
        <th>Type</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let part of partDTOList">
        <td>{{ part.name }}</td>
        <td>{{ part.price }}</td>
        <td>{{ part.inv }}</td>
        <td>{{ part.partType === 1 ? 'Inhouse' : 'Outsourced' }}</td>
        <td>
          <a [routerLink]="part.partType === 1 ? ['/inhouse-part-form', part.id] : ['/outsourced-part-form', part.id]" class="btn btn-primary btn-sm mb-3">Update</a>
          <button class="btn btn-primary btn-sm mb-3" (click)="deletePart(part.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <br/>
  <h2>Air Conditioners</h2>
  <form id="productForm" (ngSubmit)="fetchMainScreenData()">
    Filter: <input type="text" [(ngModel)]="this.productkeyword" name="productkeyword" id="productkeyword" size="50" required/>
    &nbsp;
    <input type="submit" value="Search"/>
    &nbsp;
    <input type="button" value="Clear" id="btnClearProduct" (click)="clearProductSearch()"/>
  </form>
  <br><br>
  <a href="/product-form" class="btn btn-primary btn-sm mb-3">Add Product</a>
  <div class="scrollable-table">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Inventory</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.inv }}</td>
        <td>
          <!--                    <a th:href="@{/buyProduct(productId=${tempProduct.id})}"-->
          <!--                       class="btn btn-primary btn-sm mb-3">Buy Now</a>-->
          <a [routerLink]="['/product-form', product.id]" class="btn btn-primary btn-sm mb-3">Update</a>
          <button class="btn btn-primary btn-sm mb-3" (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <br/>
</div>
</body>
</html>
