<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Part Form</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <h1 class="mt-4">Outsourced Part Detail</h1>
  <form (ngSubmit)="validateAndSubmit()" #partForm="ngForm">
    <div class="mb-3">
      <label for="sku" class="form-label">SKU</label>
      <input type="text" [(ngModel)]="part.sku" name="sku" class="form-control" id="sku" placeholder="R-438AX25" required />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" [(ngModel)]="part.name" name="name" class="form-control" id="name" placeholder="R-438A (MO99) 25 LB Cylinder Chemours" required />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="text" [(ngModel)]="part.price" name="price" class="form-control" id="price" placeholder="345.00" required />
    </div>
    <div class="mb-3">
      <label for="inv" class="form-label">Manufacturer</label>
      <input type="text" [(ngModel)]="part.manufacturer" name="manufacturer" class="form-control" id="manufacturer" placeholder="DuPont" required />
    </div>
    <div class="mb-3">
      <label for="inv" class="form-label">Inventory</label>
      <input type="text" [(ngModel)]="part.inv" name="inv" class="form-control" id="inv" placeholder="15" required />
    </div>
    <div class="mb-3">
      <label for="inv" class="form-label">Minimum Inventory </label>
      <input type="text" [(ngModel)]="part.minInv" name="minInv" class="form-control" id="minInv" placeholder="10" required />
    </div>
    <div class="mb-3">
      <label for="inv" class="form-label">Maximum Inventory</label>
      <input type="text" [(ngModel)]="part.maxInv" name="maxInv" class="form-control" id="maxInv" placeholder="50" required />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!partForm.form.valid">Submit</button>
  </form>
  <a href="/mainscreen" class="mt-3">Link to Main Screen</a>
</div>
</body>
</html>
