<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard</title>
</head>
<body>
<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mainscreen">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sales">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reports</a>
          </li>
        </ul>
        <span class="navbar-text">
           Logged in as: <span>{{ username }}</span> | <span>{{ email }}</span>
        </span>
        <a class="btn btn-secondary ms-3" id="signoutButton" (click)="signOut()">Logout</a>
      </div>
    </div>
  </nav>

  <h1 class="mb-3">Inventory</h1>

  <div class="row g-4">

    <!-- Total Products Section -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-success text-white">
          Total Products
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ totalProductsCount }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Low in Stock Section -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-warning text-white">Low in Stock</div>
        <div class="card-body">
          <ul class="list-group" id="lowInStockList">
            <li class="list-group-item" *ngFor="let i of lowInStockProducts">{{ i.name }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Out of Stock Section -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-danger text-white">Out of Stock</div>
        <div class="card-body">
          <ul class="list-group" id="outOfStockList">
            <li class="list-group-item" *ngFor="let i of outOfStockProducts">{{ i.name }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
