<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>About - Icehouse Cooling Supply Co</title>
</head>
<body>

<div class="container">
  <h1>About Icehouse Cooling Supply Co</h1>
  <p>
    We are a leading provider of heating, ventilation, and air conditioning systems and components. With a wide range of products from top manufacturers, we offer solutions for residential, commercial, and industrial applications. Our experienced team of professionals is dedicated to providing exceptional customer service and ensuring that our customers find the right products for their specific needs.
  </p>
  <p>
    For more information about our products and services, please contact us or visit our main screen.
  </p>
  <a th:href="@{/}" class="btn btn-primary">Back to Main Screen</a>
</div>

</body>
</html>
