<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh"
          content="0;URL='mainscreen'">
<!--    <meta charset="UTF-8">-->
    <title>Title</title>
</head>
<body>
<h1>Your part has been deleted</h1>

<a th:href="${app.baseUrl}">Link to Main Screen</a>
</body>
</html>