<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="data:image/x-icon;base64,..." rel="icon" type="image/x-icon" />
  <title>Dashboard</title>
</head>
<body>
<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mainscreen">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sales">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reports</a>
          </li>
        </ul>
        <span class="navbar-text">
          Logged in as: <span th:text="${username}"></span> | <span th:text="${email}"></span>
        </span>
        <a href="#" class="btn btn-secondary ms-3" id="signoutButton">Logout</a>
      </div>
    </div>
  </nav>

  <h1 class="mb-3">Inventory</h1>

  <div class="row g-4">

    <!-- Total Products Section -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-success text-white">
          Total Products
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" th:text="${totalProductsCount}"></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Low in Stock Section -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-warning text-white">Low in Stock</div>
        <div class="card-body">
          <ul class="list-group" id="lowInStockList">
            <li class="list-group-item" th:each="product : ${lowInStockProducts}" th:text="${product.name}"></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Out of Stock Section -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-danger text-white">Out of Stock</div>
        <div class="card-body">
          <ul class="list-group" id="outOfStockList">
            <li class="list-group-item" th:each="product : ${outOfStockProducts}" th:text="${product.name}"></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Manufacturer Pie Chart -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-info text-white">Products by Manufacturer</div>
        <div class="card-body">
          <canvas id="manufacturerPieChart"></canvas>
        </div>
      </div>
    </div>


  </div>

  <script>
    function signOut() {
      fetch('/api/auth/signout', {method: 'POST'})
              .then(response => response.json())
              .then(data => {
                console.log(data);
                window.location.href = "/login";
              })
              .catch((error) => {
                console.error('Error:', error);
              });
    }

    document.getElementById("signoutButton").addEventListener("click", signOut);
  </script>
  <!-- Inside your <script> tag -->
  <script th:inline="javascript">
    /*<![CDATA[*/
    var manufacturerData = /*[[${manufacturerMap}]]*/ 'default';

    // Prepare data for the chart
    var labels = Object.keys(manufacturerData);
    var data = Object.values(manufacturerData);

    var ctx = document.getElementById('manufacturerPieChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: labels,
        datasets: [{
          label: 'Products by Manufacturer',
          data: data,
          backgroundColor: [
            // Add colors for each slice
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            // ... add more colors as needed
          ],
          borderColor: [
            // Add border colors for each slice
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            // ... add more border colors as needed
          ],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
      }
    });
    /*]]>*/
  </script>

</div>
</body>
</html>
