<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="data:image/x-icon;base64,..." rel="icon" type="image/x-icon" />
  <title>Sales</title>
</head>
<body>
<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mainscreen">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sales">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reports</a>
          </li>
        </ul>
        <span class="navbar-text">
          Logged in as: <span th:text="${username}"></span> | <span th:text="${email}"></span>
        </span>
        <a href="#" class="btn btn-secondary ms-3" id="signoutButton">Logout</a>
      </div>
    </div>
  </nav>

  <h1 class="mb-3">Sales</h1>

  <div class="row g-4">

    <!-- Monthly Sales Revenue -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
          Monthly Sales Revenue
        </div>
        <div class="card-body">
         <h4 th:text="'$ ' + ${#numbers.formatDecimal(monthlySalesRevenue, 0, 'COMMA', 2, 'POINT')}">$0.00</h4>
        </div>
      </div>
    </div>

    <!-- Year-to-Date Sales -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-secondary text-white">Year To Date</div>
        <div class="card-body">
          <h4 th:text="'$ ' + ${#numbers.formatDecimal(yearToDateSales, 0, 'COMMA', 2, 'POINT')}">$0.00</h4>
        </div>
      </div>
    </div>

    <!-- Top Selling Products -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-success text-white">Top Selling Products</div>
        <div class="card-body">
          <ul class="list-group" id="topSellingProductsList">
            <li class="list-group-item" th:each="product : ${topSellingProducts}" th:text="${product.name}"></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Inventory Turnover Rate -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-warning text-white">Inventory Turnover Rate</div>
        <div class="card-body">
          <h4 th:text="${inventoryTurnoverRate}">0</h4>
        </div>
      </div>
    </div>

    <!-- Manufacturer Sales Breakdown Pie Chart -->
<!--    <div class="col-md-12">-->
<!--      <div class="card mb-4 shadow-sm">-->
<!--        <div class="card-header bg-info text-white">Sales Breakdown by Manufacturer</div>-->
<!--        <div class="card-body">-->
<!--          <canvas id="manufacturerSalesPieChart"></canvas>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  <script>
    function signOut() {
      fetch('/api/auth/signout', {method: 'POST'})
              .then(response => response.json())
              .then(data => {
                console.log(data);
                window.location.href = "/login";
              })
              .catch((error) => {
                console.error('Error:', error);
              });
    }

    document.getElementById("signoutButton").addEventListener("click", signOut);
  </script>

</div>
</div>
</body>
</html>
