<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
  <script>
    function decodeJWTToken(token){
      return JSON.parse(atob(token.split(".")[1]))
    }
    function handleOauthResponse(response){
      const responsePayload = decodeJWTToken(response.credential)
      console.log(responsePayload)
      sessionStorage.setItem('loggedinUser',JSON.stringify(responsePayload))
      window.location('/mainscreen')
    }
  </script>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="mt-5">
                <h1 class="text-center">Login</h1>
            </div>
            <div class="mt-4">
                <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" id="login-form">
                <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required autocomplete="off"/>
                    <div class="error-message" id="username-error"></div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password" required autocomplete="off"/>
                        <div class="error-message" id="password-error"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    <div class="text-center mt-3">
                        <p>Don't have an account? <a href="/register">Register Here</a></p>
                    </div>
                    <div class="loading-spinner text-center" id="loading-spinner"></div>
                </form>
            </div>
            <div id="toast"></div>
        </div>
    </div>
</div>
</body>
</html>
