<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sales</title>
</head>
<body>
<div class="container mt-4">
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/mainscreen">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/inventory">Inventory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sales">Sales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reports">Reports</a>
          </li>
        </ul>
        <span class="navbar-text">
            Logged in as: <span>{{ username }}</span> | <span>{{ email }}</span>
        </span>
        <a class="btn btn-secondary ms-3" id="signoutButton" (click)="signOut()">Logout</a>
      </div>
    </div>
  </nav>

  <h1 class="mb-3">Sales</h1>

  <div class="row g-4">

    <!-- Monthly Sales Revenue -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-primary text-white">
          Monthly Sales Revenue
        </div>
        <div class="card-body">
          <h4>{{ monthlySalesRevenue | currency:'USD':'symbol':'1.2-2' }}</h4>
        </div>
      </div>
    </div>

    <!-- Year-to-Date Sales -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-secondary text-white">Year To Date</div>
        <div class="card-body">
          <h4>{{ yearToDateSales | currency:'USD':'symbol':'1.2-2' }}</h4>
        </div>
      </div>
    </div>

    <!-- Top Selling Products -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-success text-white">Top Selling Products</div>
        <div class="card-body">
          <ul class="list-group" id="topSellingProductsList">
            <li class="list-group-item" *ngFor="let i of topSellingProducts">{{ i.name }}</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Inventory Turnover Rate -->
    <div class="col-md-6">
      <div class="card mb-4 shadow-sm">
        <div class="card-header bg-warning text-white">Inventory Turnover Rate</div>
        <div class="card-body">
          <h4>{{ inventoryTurnoverRate }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>

